[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
gunicorn = "*"
whitenoise = "==4.0"
dj-database-url = "*"
psycopg2-binary = "*"
django-environ = "==0.4.5"
django-ipware = "==3.0.2"
djangorestframework-gis = "*"

[dev-packages]

[requires]
python_version = "3.6"
